<table>
	<tr>
		<td>Name</td>
		<td>Email</td>
		<td>Password</td>
		<td>Tour</td>
		<td>Actions</td>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.name %><%= user.id %></td>
		<td><%= user.email %></td>
		<td><%= user.password %></td>		
		<td><%= Tour.find(user.tour_id).time %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
		<td><%= link_to 'Delete', user_path(user),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<%end%>
</table>
