<%= form_for(@user) do |f| %>
	<div class="field">
		<p>Name</p>
		<%= f.text_field :name%>
	</div>
	<div class="field">
		<p>Email</p>
		<%= f.text_field :email%>
	</div>
	<div class="field">
		<p>Password</p>
		<%= f.text_field :password%>
	</div>
		<div class="field">
		<p>Tour</p>
		<%= f.collection_select :tour_id, Tour.all, :id, :time%>
	</div>
	<div class="actions">
		<%= f.submit%>
	</div>
<% end %> 
